APP_ENV=development
PORT=8080
PYTHON_AI_BASE_URL=http://localhost:8001
JWT_SECRET=14-27-10-2023
PostgreSQL_CONNECTION_STRING=thay_cai_nay_bang_uri_that_An_gui_file_mo_ta_database

NEO4J_URI=thay_cai_nay_bang_uri_that_An_gui_file_mo_ta_database
NEO4J_USERNAME=thay_cai_nay_bang_uri_that_An_gui_file_mo_ta_database
NEO4J_PASSWORD=thay_cai_nay_bang_uri_that_An_gui_file_mo_ta_database
NEO4J_DATABASE=thay_cai_nay_bang_uri_that_An_gui_file_mo_ta_database